body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header Part */
.header-section{
    margin-top: 20px;
}
.header-container{
    height: 500px;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(19, 18, 18);
    border-radius: 1em;
    display: flex;
    align-items: center;
}
.header-text{
    width: 45%;
    color: white;
    margin: 1em 3em;
}
.header-text p{
    margin: 10px auto;
    font-size: 1.2em;
    font-weight: 500;
}
.header-text h1{
    font-size: 4em;
    font-weight: 700;
}
.header-image{
    height: fit-content;
    margin-left: 5em;
    margin-top: 150px;
    padding-bottom: 0;
}
.watch-live{
    float: left;
    background-color: red;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}
.watch-live:hover{
    float: left;
    background-color: white;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    color: red;
    border: none;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    transition-duration: 1s;
    cursor: pointer;
}
/* Main part */

.main-container{
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.pages{
    width: 250px;
    height: 250px;
    background-color: rgb(19, 18, 18);
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pages p{
    width: 225px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
}
.other-pages a{
    text-decoration: none;
    color: black;
}
.other-pages{
    background-color: aliceblue;
    color: #000;
}
.current-page{
    background-color: red;
    color: aliceblue;
}
.current-page a{
    text-decoration: none;
    color: aliceblue;
}

/*  Blog Post Part */

.blog-container{
    margin-left: 100px;
    width: 640px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 10px;
}
.post{
    width: 240px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
}
.post-info{
    margin: 10px;
}
.post-button{
    font-size: 12px;
    padding: 0px;
    margin: 5px 0;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 3px;
}
.post-image{
    width: 100px;
}

.post-headline{
    font-weight: 600;
}
.post-engagement{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    font-size: small;
}
.time{
    padding-right: 30px;
}
.view-all{
    width: 20%;
    margin: 20px auto;
    display: flex;
    justify-items: center;
    border-radius: 5px;
    background-color: red;
    color: white;
    display: none;
}
.view-all a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

/* Footer part */
footer{
    width: 100%;
    height: 350px;
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
footer hr{
    width: 85%;
    color: 1px solid white;
}
footer h1{
    font-size: 2em;
    font-weight: 700;
    color:aliceblue;
    text-align: center;
}
nav{
    margin: 10px 0;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}

.social-media{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
}
.social-media a{
    color: aliceblue;
}

/* Upcoming matches Part */
.fixture-flags{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-top: 70px;
}
.fixture-info{
    text-align: center;
}


/* For Mobile */

@media screen and (max-width: ) {
    
}